footer {
    width: 100%;
    height: 300px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin-top: 450px;
}

#media_logos {
    height: 50px;
    width: 100%;
    background-color: rgb(91, 78, 78);
}

#footer_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--XXL-spacing) * 5);
}

#footer_info img {
    height: 75px;
}

#footer_info div h3 {
    font-size: var(--L-font-size);
    cursor: pointer;
}

#footer_info div p {
    font-size: var(--M-font-size);
    cursor: pointer;
    text-decoration: underline;
}