footer {
    width: 100%;
    height: 450px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin-top: 450px;
}

#media_bar {
    height: 175px;
    width: 100%;
    background-color: rgb(91, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--L-spacing);
}

#media_bar h1 {
    margin: 0;
    color: white;
}

#border_line {
    border: 2px solid green;
    width: 450px;
}

#media_logos {
    display: flex;
    gap: var(--L-spacing);
    justify-content: center;
}


#media_logos img {
    height: 50px;
}

#footer_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--XXL-spacing) * 5);
}

#footer_info img {
    height: 75px;
}

#footer_info div h3 {
    font-size: var(--L-font-size);
    cursor: pointer;
}

#footer_info div p {
    font-size: var(--M-font-size);
    cursor: pointer;
    text-decoration: underline;
}