#navigation_container {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    height: calc(var(--XXL-spacing) * 4);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 150px;

    border-bottom: 1px solid var(--accent-color);
}

.navigation_button_container {
    display: flex;
    gap: calc(var(--XXL-spacing) * 2);
    align-items: center;
}

.navigation_button_container button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-background-color);
    border: 0;
    border-radius: 10px;

    gap: var(--L-spacing);

    font-size: var(--M-font-size);
}

.navigation_button_container button:hover {
    text-decoration: underline;
    color: var(--accent-color);
    cursor: pointer;
}

#navigation_logo {
    width: 100px;
    height: 100%;
}

.arrow_down_svg {
    height: 100%;
    width: 10px;
}


/* Register Popup */

#register_container_popup {


    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 400px;

    background-color: rgb(170, 170, 170);

    border-radius: 15px;
    border-top: 5px solid var(--accent-color);


}

.popup {
    position: fixed;

    top: 35%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.popup_input_field {
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}