#navigation_container {
    position: fixed;
    
    top: 0;
    left: 0;
    right: 0;

    height: calc(var(--XXL-spacing) * 4);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 150px;
    
    border-bottom: 1px solid var(--accent-color);
}

.navigation_button_container {
    display: flex;
    gap: calc(var(--XXL-spacing) * 2);
    align-items: center;
}

.navigation_button_container button{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-background-color);
    border: 0;
    border-radius: 10px;

    gap: var(--L-spacing);

    font-size: var(--M-font-size);
}

.navigation_button_container button:hover{
    text-decoration: underline;
    color: var(--accent-color);
    cursor: pointer;
}

#navigation_logo {
    width: 100px;
    height: 100%;
}

.arrow_down_svg {
    height: 100%;
    width: 10px;
}


