#navigation_container {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    height: calc(var(--XXL-spacing) * 4);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 150px;

    border-bottom: 1px solid var(--accent-color);
}

.navigation_button_container {
    display: flex;
    gap: calc(var(--XXL-spacing) * 2);
    align-items: center;
}

.navigation_button_container button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-background-color);
    border: 0;
    border-radius: 10px;

    gap: var(--L-spacing);

    font-size: var(--M-font-size);
}

.navigation_button_container button:hover {
    text-decoration: underline;
    color: var(--accent-color);
    cursor: pointer;
}

#navigation_logo {
    width: 100px;
    height: 100%;
}

.arrow_down_svg {
    height: 100%;
    width: 10px;
}


/* Register Popup */

#register_container_popup {
    display: flex;

    width: clamp(1000px, 80vw, 1800px);
    height: clamp(600px, 80vh, 1000px);

    background-color: rgb(170, 170, 170);
    overflow: hidden;
}

#image_div_register_popup {
    background:
    linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(0, 128, 0, 0.4)
    ),
    url("../Images/RegisterPopupImage.jpg");

    background-position: center;
    background-size: cover;
    width: 60%;
}

.popup {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.popup_input_field {
    height: auto;
    padding: 15px 0px;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
}

.popup_input_field_p {
    margin: 15px 0px 10px 0px;
    color: var(--secondary-color);
}

.popup_input_field__parent_container {
    display: flex;
    flex-direction: column;
    gap: clamp(12px, 2vh, 24px);
    padding: clamp(24px, 3vw, 48px);

    justify-content: center;
    overflow-y: auto;

    background-color: #f6faf6;
}

.popup_input_field_container {
    width: 100%;
    height: auto;
}

#create_account_text {
    font-size: var(--XXXL-font-size);
    font-weight: 500;
    text-shadow: 0px 0px 1px;
    text-align: center;
}

#create_account_button{
    width: 100%;
    height: auto;
    padding: 18px 0px;
    border-radius: 40px;
    font-size: var(--L-font-size);
    border: 0;
    color: #f6faf6;
    background-color: rgb(66, 121, 249);
}

#create_account_button:hover{
    cursor: pointer;
    opacity: 0.5;
}

.agreeing_to_terms {
    text-align: center;
    font-size: var(--M-font-size);
}

.privacy_policy {
    text-decoration: underline;
}

.terms_of_use {
    text-decoration: underline;
}

.privacy_policy:hover {
    cursor: pointer;
    color: rgb(66, 121, 249);
}

.terms_of_use:hover {
    cursor: pointer;
    color: rgb(66, 121, 249);
}