main {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: var(--XXL-spacing);
    align-items: center;
    justify-content: center;
    width: 100%;
}



#pick_animal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--XXL-spacing);
    width: 100%;
}

#pick_animal div {
    display: flex;
    gap: calc(var(--XXL-spacing) * 5);
}

#pick_animal div div {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--S-spacing);
    cursor: pointer;
    background-color: white;
}

#pick_animal div div img {
    width: 150px;
    color: white;
}

#pick_animal div div p {
    margin: 0;
}


#search_animal input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
}


#login_fault_message {
    color: red;
}

#register_fault_message {
    color: red;
}