/* #homepage {
    display: none;
} */

#pet_sales {
    max-width: 1200px;
    width: 100%;
    background-color: #f2f7f3;
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
    box-sizing: border-box;
    padding: 50px;
    gap: 50px;
}

#filter_function {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
    margin-top: 100px;
    gap: var(--L-spacing);
    padding: 20px;
}


.filter_parts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

#filter_function img {
    height: 20px;
}


#products_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: var(--M-spacing);
    margin-top: 100px;
}

#products_info div {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: end;
}

#products_info div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#products_info div p {
    position: absolute;
    color: white;
    font-size: var(--L-font-size);
}