/* #homepage {
    display: none;
} */

#pet_sales {
    max-width: 1500px;
    width: 100%;
    background-color: #f2f7f3;
    display: flex;
    margin-top: 125px;
    box-sizing: border-box;
}

#filter_function {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 400px;
    margin-top: 100px;
    gap: var(--L-spacing);
    padding: 20px;
}

.filter_parts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

#filter_function img {
    height: 25px;
}


#products_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    gap: var(--XL-spacing);
}

#products_info div {
    width: 350px;
    height: 400px;
    border: 1px solid black;
}