/* #homepage {
    display: none;
} */

#pet_sales {
    max-width: 1500px;
    width: 100%;
    background-color: #ffffff;
}

#filter_function {
    display: flex;
    height: 100px;
    border-bottom: 1px solid black;
    align-items: center;
    gap: calc(5* var(--XXL-spacing));
    padding-left: 100px;
}

#filter_function h1 {
    margin: 0;
}

.drop_down_pets {
    display: flex;
    gap: var(--M-spacing);
    align-items: center;
}

.drop_down_pets div {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

.drop_down_pets img {
    height: 25px;
}

.drop_down_pets p {
    margin: 0;
    font-size: var(--L-spacing);
}

.drop_down_pets div {
    height: 30px;
    width: 200px;
    border: 1px solid;
    border-radius: 5px;
}



#products_info {
    max-width: 1000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    gap: var(--XL-spacing);
}

#products_info div {
    width: 400px;
    height: 450px;
    border: 1px solid black;
}