body {
    margin: 0;
    background-image: url("../Images/dog_and_cat_lookiing_4k_hd-HD.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.cursor_pointer {
    cursor: pointer;
}

:root {
    --XXS-spacing: 4px;
    --XS-spacing: 8px;
    --S-spacing: 12px;
    --M-spacing: 16px;
    --L-spacing: 20px;
    --XL-spacing: 24px;
    --XXL-spacing: 28px;



    --S-font-size: 12px;
    --M-font-size: 16px;
    --L-font-size: 20px;
    --XL-font-size: 24px;
    --XXL-font-size: 28px;
    --XXXL-font-size: 32px;

    --accent-color: #ebebeb;
    --background-color: #FFF5E6;
    --secondary-color: #5F7A8B;
    --secondary-accent-color: #00BCD4;
    --white-background-color: #FFFFFF;

}


.hide {
    display: none !important;
}