body {
    margin: 120px 300px;
}

.cursor_pointer {
    cursor: pointer;
}

:root {
    --XXS-spacing: 4px;
    --XS-spacing: 8px;
    --S-spacing: 12px;
    --M-spacing: 16px;
    --L-spacing: 20px;
    --XL-spacing: 24px;
    --XXL-spacing: 28px;

    --S-font-size: 12px;
    --M-font-size: 16px;
    --L-font-size: 20px;

    --accent-color: #9370DB;
    --background-color: #FFF5E6;
    --secondary-color: #5F7A8B;
    --secondary-accent-color: #00BCD4;

}